// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs

//= require_tree .

// wrap in document ready function - my notes ***READ DOCUMENTATION TO SEE FUNCTIONS****
$(document).ready(function (){
	function initialize() {
		var myLatLng = new google.maps.LatLng(43.653606, -79.377379)
		var mapOptions = {
			center: myLatLng,
			zoom: 8, 
			scrollwheel: false
		};

		var map = new google.maps.Map(document.getElementById('map'), mapOptions);

		var image = "<%= asset_path 'images.png' %>"

		  var marker = new google.maps.Marker({
    		position: myLatLng,
  		  	map: map,
    		title: 'Hello World!'
    	});

    	var contentString = '<h2>Toronto, ON</h2>' + '<p> This is our 2016 vacation spot!</p>';

    	var infowindow = new google.mpas.InfoWindow({
    		content: contentString
    	});
    }

	google.maps.event.addDomListener(window, 'load', initialize);

	});



